<h1>User Records</h1>
<p>Total Number of Users: {{ total_users }}</p>
<form action="/users" method="get">
  <label for="q_name_or_age_or_gender_cont">Search Users:</label>
  <input type="text" id="q_name_or_age_or_gender_cont" name="q[name_or_age_or_gender_cont]" value="{{ params.q.name_or_age_or_gender_cont | default: '' }}">
  <input type="submit" value="Search">
</form>
<a class='report-daily' href="daily_records/report">Daily Records Report</a>  
<table id="users-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.created_at }}</td>
        <td>
      <form method="post" action="/users/{{ user.id }}" onsubmit="return confirm('Are you sure?')">
        <input type="hidden" name="_method" value="delete" >
        <button type="submit">Delete</button>
      </form>
    </td>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

